In [1]:
import pandas as pd
from datetime import datetime

file_name = "AirBnBSummary_v2.xlsx" # put the file next to the notebook
df = pd.read_excel(file_name)

print("Loaded rows/cols:", df.shape)
print("Run time:", datetime.now())
df.head()

Loaded rows/cols: (1779, 10)
Run time: 2026-02-14 17:01:08.212620

,id,host_id,host_name,neighbourhood,room_type,price,minimum_nights,number_of_reviews,availability_365,<StudentID>
0,7909479,41706311,David,Downtown,Entire home/apt,107.0,30,27,365.0,NaN
1,15966488,103700433,Erin,Downtown,Entire home/apt,100.0,1,250,74.0,NaN
2,19859814,103700433,Erin,Downtown,Entire home/apt,100.0,1,309,79.0,NaN
3,21071138,22992627,Joseph,Downtown,Entire home/apt,100.0,2,144,338.0,NaN
4,21712505,103700433,Erin,Downtown,Entire home/apt,100.0,1,178,68.0,NaN